@import url('./reset.css');

header {
    z-index: 2;
    position: absolute;
    padding: 60px 125px 0;
    top: 0;
    width: 100%;
    transition: .5s;
}

.fixed {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    padding: 30px 125px;
    transition: .5s;
}

header>h2 {
    display: none;
}

header ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav {
    cursor: pointer;
}

header select {
    background: none;
    border: 0;
    color: #fff;
    font-size: 16px;
}

header select option {
    color: #000;
}

main .overlab {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .overlab>div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .overlab h2 {
    font-family: Arial;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 3.6px;
    color: #f5f4a5;
}

main .overlab div>a {
    text-align: center;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 30px 0;
    width: 263px;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

main .overlab div>a:hover {
    background: #fff;
    color: #000;
    transition: .5s;
}

main .overlab a span {
    vertical-align: middle
}

main .overlab a::after {
    content: 'trending_flat';
    font-size: 20px;
    vertical-align: middle;
    font-weight: 500;
    font-family: 'Material Symbols Outlined';
}

main .content {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
}

main .content>h2 {
    display: none;
}

main .content>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .content>ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 126px 0 0;
    align-items: center;
}

main .content>ul li:last-child {
    padding-bottom: 126px;
}

main .content>ul li .images {
    order: 1;
    max-width: 640px;
    width: 90%;
    height: auto;
    max-height: 425px;
}

main .content>ul li .text {
    order: 2;
    width: calc(90% - 640px);
}

main .content>ul li .text2 {
    order: 0;
    width: calc(90% - 640px);
}

main .content>ul li b {
    width: 100%;
    position: relative;
    z-index: 0;
    display: block;
    font-size: 32px;
    letter-spacing: 1.44px;
    font-family: Arial;
}

main .content>ul li b::before {
    content: '';
    z-index: -2;
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 1px solid #000;
}

main .content>ul li b::after {
    content: '';
    width: 50%;
    background: #fff;
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
}

main .content>ul li p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    font-family: Arial;
}

main .content>ul li a {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    font-family: Arial;
    text-decoration: none;
}

main .content>ul li a::after {
    content: 'arrow_forward_ios';
    font-size: 14px;
    vertical-align: middle;
    font-weight: 500;
    font-family: 'Material Symbols Outlined';
}

main .content2 {
    background: #ecf4f9;
    padding: 138px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

main .content2 h2 {
    font-size: 40px;
    text-transform: uppercase;
}

main .content2 h2::after {
    content: '';
    display: block;
    border-bottom: 2px solid #000;
    width: 96px;
    height: 2px;
    padding-top: 20px;
    margin: 0px auto;
}

main .content2 hr {
    width: 96px;
    border: 2px solid #000
}

main .content2 p {
    font-size: 16px;
    white-space: pre-line;
}

main .content2 ul {
    margin: 80px 0 0;
    display: flex;
    width: 1280px;
    justify-content: space-between;
}

main .content2 ul li {
    width: 320px;
}

main .content2 ul li>div {
    width: 320px;
    border-radius: 50%;
    height: 320px;
    overflow: hidden;
    transition: .5s;
}

main .content2 ul li>div:hover {
    border-radius: 0;
    transition: .5s;
}

main .content2 ul li>div>p {
    font-size: 16px;
}

footer {
    position: relative;
    background: #b9c4d8;
    padding: 30px 0;
    text-align: center;
}

footer p {
    font-size: 16px;
    color: #555;
}



.fade-in {
    opacity: 0;
}

.fadeinleft {
    opacity: 0;
    margin-left: -300px;
    max-width: 100%;
}

nav {
    z-index: 3;
    transition: .5s;
    width: 30%;
    position: fixed;
    top: 0;
    left: -100%;
    background: #000;
    height: 100%;
    color: #fff
}

nav .position {
    position: relative;
    height: 100%;
}

nav .position ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    align-content: center;
    font-size: 30px;
}

nav .position ul li {
    margin: 50px 0;
}

nav .position .cancel {
    position: absolute;
    cursor: pointer;
    right: 10px;
    font-size: 30px;
    top: 20px;
    color: #fff;
}

nav .position .cancel::after {
    content: 'close';
    font-size: 40px;
    font-weight: 500;
    font-family: 'Material Symbols Outlined';
}

nav .position .cancel span {
    font-size: 30px;
}


@media (max-width:1280px) {
    header {
        width: 100%;
        padding: 60px 5%;
        margin: 0px auto;
        left: 0;
        right: 0;
    }

    .fixed {
        padding: 30px 5%;
        width: 100%;
    }

    main .content>ul li {
        align-items: center;
        flex-direction: column;
    }

    main .content>ul li .text,
    main .content>ul li .text2 {
        width: 90%;
        padding: 95px 0 0
    }

    main .content>ul li .text2 {
        order: 3;
    }

    nav {
        width: 100%;
    }

    main .content2 ul {
        flex-direction: column;
        align-items: center;
    }

    main .content2 ul li {
        margin: 20px 0;
    }
}